@use '../../styles/' as *;

.signup {
    width: 100%;
    text-align: center;

    &-confirm {
        display: flex;
        gap: 3px;
        align-items: center;
        label {
            font-size: 13px;
            line-height: auto;
        }
    }

    &-btns {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
}

#signup-submit {
    display: none;
}