@use './variables';
@import './breakpoint';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: $bg-color;
}

.container {
    width: 1170px;
    margin: auto;
}

@media (max-width: 1170px) {
    .container {
        width: 100%;
    }
}

@include tablet {
    .container {
        width: 100%;
    }
}

.form-container {
    width: 100%;
    min-height: 100vh;
    background-color: $primary-color;
    padding: 12px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 54px 0;
}

.row {
    display: flex;
}

.col-4 {
    width: 33.33333%;
    position: relative;
}

.col-8 {
    width: 66.66667%;
}

@include mobile {
    .col-4, .col-8 {
        width: 100%;
    }
}

.col-12 {
    width: 100%;
}

input[type=checkbox] + label {
    display: block;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label::before {
    content: '\2714';
    border: .1rem solid $primary-color;
    border-radius: .2rem;
    font-size: 10px;
    background-color: #fff;
    color: #fff;
    padding: 0 2.5px;
    margin-right: 8px;
}

input[type=checkbox]:checked + label::before {
    content: '\2714';
    border: .1rem solid $primary-color;
    border-radius: .2rem;
    font-size: 10px;
    height: 24px;
    background-color: $primary-color;
    color: #fff;
    padding: 0 2.5px;
}