@use '../../styles/' as *;

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
        font-size: 15px;
        font-weight: 700;
        span {
            color: $primary-color;
        }
    }
    &__input {
        padding: 8px 16px;
        border: 1.4px solid $primary-color;
        border-radius: 4px;
    }

    &.error {
        .input-group__input {
            padding: 8px 16px;
            border: 1.4px solid $red-color;
            border-radius: 4px;
        } 
    }
}