@use '../../styles/' as *;

.account {
    width: 100%;
    margin: 54px 0;
    &__info {
        padding: 16px;
        img {
            width: 80%;
        }
        h3 {
            font-size: 18px;
            margin-top: 4px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;

        a {
            color: $text-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__signout {
        margin-top: 24px;
    }
}