@use '../../styles/' as *;

.card {
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin-top: 32px;
    transition: all .3s ease;
    color: $text-color;
    &:hover {
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.04);
    }
    &__cty {
        display: flex;
        align-items: center;

        img {
            height: 72px;
            margin-right: 25px;
        }

        &--in4 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4px;
            h4 {
                font-size: 24px;
                font-weight: 800;
                line-height: 26px;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
            h6 {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.6;
            }
        }

    }

    &__tags {
        display: flex;
        gap: 8px;
        margin-top: 24px;
        width: 75%;
        flex-wrap: wrap;
        li {
            display: block;
            font-size: 14px;
            background-color: #f3f9fc;
            padding: 4px 16px;
            line-height: 26px;
        }
    }

    &__days {
        font-size: 12px;
        opacity: .6;
        font-weight: 400;
        margin-top: 12px;
        display: flex;
        align-items: center;
        &--icon {
            margin-right: 4px;
        }
    }

    &__apply {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    &__mark {
        padding: 7px 10px 6px 10px;
        border-radius: 6px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        &--icon {
            font-size: 20px;
            color: $primary-color;
            &:nth-child(2) {
                display: none;
            }
        }

        &.saved {
            .card__mark--icon {
                &:first-child{
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }
}